<% include ./partials/header %>

<h1>bitNation</h1>
<div class="container">
    <% articles.forEach(function(article) { %>
        <h2><%= article.title %> </h2>
        <figure class="image is-64x64">
            <img src="<%= article.image %>">
        </figure>
        <p><%= article.body %></p>
    <% }) %>
</div>

<% include ./partials/footer %>