.price-container {
    width: 100%;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 100px;
}

.price-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 1px solid black;
    box-shadow: 5px 2px 2px black;
}

.price-box > i {
    margin-top: 50%;
}

.box > p {
    color: red;
}

#nav-container {
    /* margin-top: 100px; */
    z-index: 1000;
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
}

#main-container {
    margin-top: 50px;
}